#Conversioncontainer {
  height: 500px;
  width: 1000px;

}
#dragdrop {
  background-color: rgb(233, 233, 233);
  height: 500px;
  width: 80%;
  float: left;
  box-shadow: 0px 0px 1px #888888;
}
h1 {
  padding-top: 210.4px;
}
#previewmenu {
  background-color:#747474;
  width: 20%;
  height: 500px;
  float: right;
  box-shadow: -2px 0px 5px #888888;
}
#oldschoolbiatch{
  align-content: center;

}
#previewpic_0{
  float:top;
  height: 120; /* This is the box that contains the preview picture will need to be changed if we plan to rework the size in future*/
  width: 200;

}
#previewpic_1
{
  float:middle;
  height: 120;/* This is the box that contains the preview picture will need to be changed if we plan to rework the size in future*/
  width: 200;

}
