<html>
<head>
<title> upload application </title>
</head>
<body>
<h1> {{message}} </h1>
<div style="padding:40px;margin:40px;border:1px solid #ccc">
	<h1> Picture </h1>
	<form action="#" method="POST" enctype="multipart/form-data">
		{% csrf_token %} {{form}}
		<select name="select_box">
			<option value="jpg">jpg</option>
			<option value="png">png</option>
			<option value="bmp">bmp</option>
			<option value="tiff">tiff</option>
		</select>
		<input type="submit" value="upload" />

		<label>x</label>
		<input type="text" name="x_value"/> 
		<label>y:</label>
		<input type="text" name="y_value"/>
		
		
		
	</form>	
</div>

<div style="padding:40px;margin:40px;border:1px solid #ccc">
	<h1> Converted </h1>	
	<a href="{{MEDIA_URL}}{{newimage}}"> Download here!
	</a>

</div>


</body>
</html>
